.article-preview {
    display: block;
    max-width: 24em;
    background: var(--clr-neutral-100);
    color: inherit;
    padding: var(--space-150);
    border-radius: 1.25rem;
    border: solid 1px var(--clr-neutral-900);
    box-shadow: 8px 8px var(--clr-neutral-900);
    transition: all 200ms ease-in-out;
}

.article-preview:is(:hover, :focus-visible) {
    box-shadow: 16px 16px var(--clr-neutral-900);
}

.article-preview:is(:hover, :focus-visible) h1 {
    color: var(--category-color);
}

.article-preview__illustration {
    border-radius: 0.625rem;
}

.article-preview__illustration,
.article-preview__preview {
    margin-bottom: var(--space-150);
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0.75rem;
}

.article-preview__category {
    text-align: center;
    font-size: var(--fs-small);
    font-weight: 800;
    padding: 0.25rem 0.75rem;
    background: var(--category-color);
    border-radius: 0.25rem;
}

.article-preview__date {
    font-size: var(--fs-small);
    margin-block: 0.75rem;
}

h1 {
    font-size: var(--fs-heading);
    transition: all 200ms ease-in-out;
}

.article-preview__preview {
    color: var(--clr-neutral-600);
}

footer {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.article-preview__avatar {
    max-width: 2rem;
}

address {
    font-size: 0.875rem;
    font-weight: 800;
    font-style: normal;
}