@font-face {
    font-family: 'Figtree';
    font-weight: 500;
    src: url(../fonts/Figtree-SemiBold.woff2) format(woff2), url(../fonts/Figtree-SemiBold.woff) format(woff);
}

@font-face {
    font-family: 'Figtree';
    font-weight: 800;
    src: url(../fonts/Figtree-ExtraBold.woff2) format(woff2), url(../fonts/Figtree-ExtraBold.woff) format(woff);
}

:root {

    /* ===== TYPOGRAPHY ===== */
    /* == FONT FAMILY == */
    --ff-body: 'Figtree', sans-serif;

    /* == FONT SIZE == */
    --fs-small: clamp(0.75rem, 1vw + 0.5rem, 0.875rem);
    --fs-heading: clamp(1.25rem, 3vw + 0.125rem, 1.5rem);

    /* ===== COLORS ===== */
    /* == NEUTRALS == */
    --clr-neutral-100: hsl(0 0% 100%);
    --clr-neutral-600: hsl(0, 0%, 35%);
    --clr-neutral-900: hsl(0 0% 7%);

    /* ===== SPACING ===== */
    --space-150: 1.5rem;

}

body {
    font-family: var(--ff-body);
    padding-inline: 1.5rem;
    color: var(--clr-neutral-900);
    display: grid;
    place-content: center;
}